<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Backlog
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <ion-item>
    <h1></h1>
    {{ participants }}
    <p></p>
    <p></p>
  </ion-item>

  <ion-item  *ngFor="let question of questions">
    <h1></h1>
    {{ question }}
    <p></p>
    <p></p>
  </ion-item>
-->
<button ion-button full (click)="initializeModules()">Refresh Backlog</button>
    <ion-list>
      <ion-list-header>Backlog of Time-Based Modules:</ion-list-header>
      <ion-item  *ngFor="let module of timeInitiatedModules; let i = index;">
        <button ion-button block large  (click)="startModule(i)">
           {{ module.name }}
         </button>
         <br>
      </ion-item>

    </ion-list>

</ion-content>
