.tabPages, .backlog{
    background-image: url('../assets/imgs/background4.jpg');
    background-size: 100% 100%;
}

.aboutPage{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url('../assets/imgs/background4.jpg');
  width: 100vw;
        height: 100vh;
  background-size: 100% 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.modulePages {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-image: url('../assets/imgs/background4.jpg');
  width: 100vw;
        height: 100vh;
  background-size: 100% 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.listHeader{
  color: white;
  background: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  font-size: 15px;
}

.item{
  background: transparent;
  word-wrap: break-word !important;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.module{
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 80px;
    font-family: Gill Sans, Verdana;
    background-color: rgba(0, 0, 0,0.4);
    padding: 2px;
}

.module button{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.soon{
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 80px;
  font-size: 25px;
  text-align: center;
}

.about{
  color: white;
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 40px;
    font-family: Gill Sans, Verdana;
    background-color: rgba(0, 0, 0,0.6);
    padding: 2px;
}


.header1{
    word-wrap: break-word !important;
    font-size:20px !important;
    color: white;
}

.header1Center{
    word-wrap: break-word !important;
    font-size:20px !important;
    color: white;
    text-align: center;
}

.mainHome button, .backlog button {
  background: rgba(128, 170, 255, 0.4) !important;

}

.center{
  text-align: center !important;
}

.radio{
  font-size:16px !important;
  color: white;
}


.tabs {
	a.tab-button[aria-selected=true] {

    background-color: #63676d;
		.tab-button-icon {
      color: #59c2ff;
		}
	}
}


ion-datetime, ion-input {
  font-size: 16px;
  color: white;
}

.toast-message{
  white-space: pre;
  text-align: center;
  background: transparent;
  color: white;
}

ion-tab{
  flex-flow: column;
}

.exitModule{
  margin-top: 20px;
}
