<div class="modulePages"></div>
<ion-fab top right>
<button ion-fab color="light" large (click)="exitModule()"><ion-icon name="close"></ion-icon></button>

</ion-fab>


<ion-content>
<div class = "module">
      <p class = "header1" *ngIf="questionsType != 'Invalid' && questionsType != 'End of Module'">
      {{ questionsText }}
    </p>


      <p *ngIf="questionsType == 'End of Module'" class = "header1">
      End of Module
    </p>



  <ion-list *ngIf="questionsType == 'radio'" radio-group [(ngModel)]="userInfo.ans">
    <ion-item *ngFor="let option of options; let i = index;">
      <ion-label text-wrap class = "radio">{{option}}</ion-label>
      <ion-radio color="green" value={{option}} checked></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="questionsType == 'text'">
    <ion-label style="font-size:20px" color = "white" floating>Answer:</ion-label>
    <ion-input style="font-size:16px; font-weight:bold;" color = "white" type="text" [(ngModel)]="userInfo.ans"></ion-input>
  </ion-item>


  <ion-item *ngIf="questionsType == 'slider'">
      <ion-range [(ngModel)]="userInfo.ans" min="0" max="100">
        <!--
        <ion-icon range-left large name="sad"></ion-icon>
        <ion-icon range-right large name="happy"></ion-icon>
        -->
        <ion-label color = "white" style="font-size:16px" range-left>0</ion-label>
        <ion-label color = "white" style="font-size:16px" range-right>100</ion-label>
      </ion-range>
  </ion-item>

<ion-item *ngIf="questionsType == 'multi'">
  <ion-label style="font-size:20px" color = "white" floating>&#x25BE; Select:</ion-label>
  <ion-select style="font-size:16px; font-weight:bold; color:white !important;" [(ngModel)]="userInfo.ans" multiple="true">
    <ion-option style="font-size:16px; font-weight:bold; color:white !important;"  *ngFor="let option of options; let i = index;" value={{i}}>{{option}}</ion-option>
  </ion-select>
</ion-item>

  <ion-item *ngIf="questionsType == 'time'">
    <ion-label style="font-size:20px" color = "white" floating>&#x25BE; Select Time:</ion-label>
    <ion-datetime style="font-size:16px; font-weight:bold;" color = "white" displayFormat="hh:mm a" [(ngModel)]="userInfo.ans"></ion-datetime>
  </ion-item>

<br>
<br>
<button ion-button (click)="prevQuestion()" *ngIf="counter > 0"icon-start>
  <ion-icon name='arrow-back'></ion-icon> Previous</button>
  <button ion-button (click)="submitQuestion()" *ngIf="questionsType != 'End of Module' && questionsType != 'slider' && userInfo.ans != ''"icon-end>
  Next <ion-icon name='arrow-forward'></ion-icon></button>
<button ion-button (click)="submitQuestion()" *ngIf="questionsType == 'slider'"icon-end>
    Next <ion-icon name='arrow-forward'></ion-icon></button>
<button ion-button (click)="submitModule()" *ngIf="questionsType == 'End of Module'">Submit Module</button>
</div>
</ion-content>
