<ion-content>
  <div class = "module">
  <div class = "center">
    <p class = "header1" *ngIf="baseExists == ''">Welcome! You have sucessfully registered for study {{study}}.</p>



    <p class = "header1" *ngIf="baseExists == 'true'">The baseline module will take about an hour to complete.</p>
    <button *ngIf="baseExists == 'true'" ion-button (click)="completeLater()">Complete Later</button>
    <button *ngIf="baseExists == 'true'" ion-button (click)="startModule()">Complete Now</button>


  <button *ngIf="baseExists == ''" ion-button (click)="continue()">Continue</button>

  </div>
    <p class = "header1" *ngIf="questionsType != 'Invalid' && questionsType != 'End of Module'">
    {{ questionsText }}
  </p>

    <p class = "header1" *ngIf="questionsType == 'End of Module'">End of Baseline Module</p>



  <ion-list *ngIf="questionsType == 'radio'" radio-group [(ngModel)]="userInfo.ans">
    <ion-item *ngFor="let option of options; let i = index;">
      <ion-label class = "radio">{{option}}</ion-label>
      <ion-radio value={{option}} checked></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="questionsType == 'text'">
    <ion-label style="font-size:20px" color = "white" floating>Answer:</ion-label>
    <ion-input type="text" [(ngModel)]="userInfo.ans"></ion-input>
  </ion-item>


  <ion-item *ngIf="questionsType == 'slider'">
      <ion-range [(ngModel)]="userInfo.ans" min="0" max="100">
        <ion-icon range-left large name="sad"></ion-icon>
        <ion-icon range-right large name="happy"></ion-icon>
      </ion-range>
  </ion-item>

<ion-item *ngIf="questionsType == 'multi'">
  <ion-label style="font-size:20px" color = "white" floating>Select:</ion-label>
  <ion-select [(ngModel)]="userInfo.ans" multiple="true">
    <ion-option *ngFor="let option of options; let i = index;" value={{i}}>{{option}}</ion-option>
  </ion-select>
</ion-item>

  <ion-item *ngIf="questionsType == 'time'">
    <ion-label style="font-size:20px" color = "white" floating>Select Time:</ion-label>
    <ion-datetime displayFormat="hh:mm a" [(ngModel)]="userInfo.ans"></ion-datetime>
  </ion-item>


<button ion-button (click)="prevQuestion()" *ngIf="counter > 0">Previous</button>
<button ion-button (click)="submitQuestion()" *ngIf="questionsType != 'End of Module' && userInfo.ans != ''">Next</button>
<button ion-button (click)="submitModule()" *ngIf="questionsType == 'End of Module'">Submit Module</button>
</div>
</ion-content>
