<ion-content>
  <ion-item  *ngIf="started != 'yes'">
    <h2>You have sucessfully registed for study ____.</h2>
    <h3>Click the button below to start the first module.</h3>
  </ion-item>

  <button ion-button (click)="startModule()" *ngIf="started != 'yes'">Start Module</button>

  <ion-item  *ngIf="questionsType != 'Invalid' && questionsType != 'End of Module'">
      <h1></h1>
      {{ questionsText }}
      <p></p>
  </ion-item>

  <ion-item  *ngIf="questionsType == 'End of Module'">
      <h2>Set your sleep times:</h2>
  </ion-item>

  <ion-item  *ngIf="questionsType == 'End of Module'">
      <ion-datetime displayFormat="hh a" placeholder = "When do you sleep?" [(ngModel)]="sleep_start"></ion-datetime>
  </ion-item>

  <ion-item  *ngIf="questionsType == 'End of Module'">
      <ion-datetime displayFormat="hh a" placeholder = "When do you wake up?" [(ngModel)]="sleep_end"></ion-datetime>
  </ion-item>



  <ion-list *ngIf="questionsType == 'radio'" radio-group [(ngModel)]="userInfo.ans">
    <ion-item *ngFor="let option of options; let i = index;">
      <ion-label>{{i}} - {{option}}</ion-label>
      <ion-radio value={{option}} checked></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="questionsType == 'text'">
    <ion-input type="text" [(ngModel)]="userInfo.ans"></ion-input>
  </ion-item>


  <ion-item *ngIf="questionsType == 'slider'">
      <ion-range [(ngModel)]="userInfo.ans" min="0" max="100">
        <ion-icon range-left large name="sad"></ion-icon>
        <ion-icon range-right large name="happy"></ion-icon>
      </ion-range>
  </ion-item>

<ion-item *ngIf="questionsType == 'multi'">
  <ion-select [(ngModel)]="userInfo.ans" multiple="true" placeholder="Click to Select">
    <ion-option *ngFor="let option of options; let i = index;" value={{i}}>{{i}} - {{option}}</ion-option>
  </ion-select>
</ion-item>

  <ion-item *ngIf="questionsType == 'time'">
    <ion-datetime displayFormat="hh:mm a" placeholder = "Tap Here to Select Time" [(ngModel)]="userInfo.ans"></ion-datetime>
  </ion-item>

<p padding>The answer provided is {{userInfo.ans}}</p>

<button ion-button (click)="submitQuestion()" *ngIf="questionsType != 'End of Module' && userInfo.ans != ''">Next</button>
<button ion-button (click)="submitModule()" *ngIf="questionsType == 'End of Module' && sleep_start != '' && sleep_end != ''">Submit Module</button>

</ion-content>
