<div class="modulePages"></div>
<ion-fab top right>
<button *ngIf="baseExists == 'progress'" ion-fab mini color="light" large (click)="exitModule()"><ion-icon name="close"></ion-icon></button>

</ion-fab>

<ion-content>
  <div class = "module">
  <div class = "center">
    <p class = "header1" *ngIf="baseExists == ''">Welcome! You have sucessfully registered for study {{study}}.</p>



    <p class = "header1" *ngIf="baseExists == 'true'">The baseline module will take about an hour to complete.</p>
    <button *ngIf="baseExists == 'true'" ion-button (click)="completeLater()">Complete Later</button>
    <button *ngIf="baseExists == 'true'" ion-button (click)="startModule()">Complete Now</button>
    <button *ngIf="baseExists == 'false'" ion-button (click)="goToHome()">Continue to Home Page</button>


  <button *ngIf="baseExists == ''" ion-button (click)="continue()">Continue</button>

  </div>
    <p class = "header1" *ngIf="questionsType != 'Invalid' && questionsType != 'End of Module'">
    {{ questionsText }}
  </p>

    <p class = "header1Center" *ngIf="questionsType == 'End of Module'">End of Baseline Module</p>



  <ion-list *ngIf="questionsType == 'radio'" radio-group [(ngModel)]="userInfo.ans">
    <ion-item *ngFor="let option of options; let i = index;">
      <ion-label class = "radio">{{option}}</ion-label>
      <ion-radio color="green" value={{option}} checked></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="questionsType == 'text'">
    <ion-label style="font-size:20px" color = "white" floating>Answer:</ion-label>
    <ion-input style="font-size:16px; font-weight:bold;" color = "white" type="text" [(ngModel)]="userInfo.ans"></ion-input>
  </ion-item>


  <ion-item *ngIf="questionsType == 'slider'">
      <ion-range [(ngModel)]="userInfo.ans" min="0" max="100">
        <ion-label color = "white" style="font-size:16px" range-left>0</ion-label>
        <ion-label color = "white" style="font-size:16px" range-right>100</ion-label>
      </ion-range>
  </ion-item>

  <ion-item *ngIf="questionsType == 'multi'">
    <ion-label style="font-size:20px" color = "white" floating>&#x25BE; Select:</ion-label>
    <ion-select style="font-size:16px; font-weight:bold; color:white !important;" [(ngModel)]="userInfo.ans" multiple="true">
      <ion-option style="font-size:16px; font-weight:bold; color:white !important;"  *ngFor="let option of options; let i = index;" value={{i}}>{{option}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="questionsType == 'time'">
    <ion-label style="font-size:20px" color = "white" floating>&#x25BE; Select Time:</ion-label>
    <ion-datetime style="font-size:16px; font-weight:bold;" color = "white" displayFormat="hh:mm a" [(ngModel)]="userInfo.ans"></ion-datetime>
  </ion-item>

  <ion-item *ngIf="questionsType == 'date'">
    <ion-label style="font-size:20px" color = "white" floating>Date:</ion-label>
    <ion-input style="font-size:16px; font-weight:bold;" color = "white" type="date" [(ngModel)]="userInfo.ans"></ion-input>
  </ion-item>

  <ion-item *ngIf="questionsType == 'number'">
    <ion-label style="font-size:20px" color = "white" floating>Answer:</ion-label>
    <ion-input style="font-size:16px; font-weight:bold;" color = "white" type="number" [(ngModel)]="userInfo.ans"></ion-input>
  </ion-item>

  <br>
  <br>
  <button ion-button (click)="prevQuestion()" *ngIf="counter > 0"icon-start>
    <ion-icon name='arrow-back'></ion-icon> Previous</button>
  <button ion-button (click)="submitQuestion()" *ngIf="questionsType != 'End of Module' && questionsType != 'slider' && userInfo.ans != ''"icon-end>
    Next <ion-icon name='arrow-forward'></ion-icon></button>
<button ion-button (click)="submitQuestion()" *ngIf="questionsType == 'slider'"icon-end>
    Next <ion-icon name='arrow-forward'></ion-icon></button>
<button ion-button (click)="submitModule()" *ngIf="questionsType == 'End of Module'">Submit Module</button>
</div>
</ion-content>
